body {
    background: rgba(23, 24, 23, 0.6);
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculatorContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.numbersContainer {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.inputButton {
    width: 150px;
    height: 150px;
    font-size: large;
}

.numberDisplay {
    width: 450px;
    height: 150px;
    background: rgba(151, 208, 241, 0.3);
}

.numberDisplayText {
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.operationsContainer {
    display: flex;
    flex-direction: column;
}